<a href="https://colab.research.google.com/github/psalib/practcomp_2022/blob/master/PractComp2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BASICS

## MARKDOWN CARRY OVER

* Use asterices 
* to creat 
* unordered lists 
1. Use numbers 
2. to create 
3. ordered lists 

* top level 
  * indent 1 
  *indent 2 
    * subindent 1
    * subindent 2

Line breaks 
dont 
matter 


but _blank lines_ creates new paragraphs 

[Marx](https://www.marxists.org/)

# PYTHON BASICS

## variables

In [ ]:
myage = 23
givenname = 'Bola'
familyname = 'Salib'

In [ ]:
print(givenname, 'is', myage, 'years old')

Bola is 23 years old

### objects; strings vs integers

In [ ]:
#type(myage)
#type(givenname)

print(type(myage), type(givenname))

<class 'int'> <class 'str'>

In [ ]:
myage_str = str(myage)
type(myage_str)
print(myage + 1)

24

In [ ]:
print(myage_str + 1)

TypeError: ignored

In [ ]:
print(myage_str + str(1))

In [ ]:
print(myage + myage)

In [ ]:
print(myage_str + myage_str)

### indexing 

**python starts counting at ZERO**

In [ ]:
givenname[0]

In [ ]:
givenname[2:4]

In [ ]:
givenname[0:3]

In [ ]:
givenname[0:]

In [ ]:
len(givenname)

### math: integers vs floats

In [ ]:
myage/4

In [ ]:
type(myage/4)

In [ ]:
float(myage)

In [ ]:
myage + float(myage)

### BASICS WRAP-UP

In [ ]:
fullname_age = givenname + ' john ' + familyname + ' is my full name, and i am '  +str(myage)+  ' years old ;/ '
print(fullname_age)

# MATH IN PYTHON

In [ ]:
6/2

3.0

In [ ]:
print(type(5/2), type(5//2))

<class 'float'> <class 'int'>

# List and loops

In [ ]:
temps = [0.0, 32.0, 100, 212, 98.6]

In [ ]:
print('first temperature;', temps[0])
print('length:', len(temps))

first temperature; 0.0
length: 5

In [ ]:
print('first temperature:', temps[0])
print('lasdt temperature:', temps[-1])
print('middle temperatures:', temps[1:4])

first temperature: 0.0
lasdt temperature: 98.6
middle temperatures: [32.0, 100, 212]

In [ ]:
temps[0]=-5
print(temps)

[-5, 32.0, 100, 212, 98.6]

In [ ]:
temps.append(72)
print(temps)

[-5, 32.0, 100, 212, 98.6, 72]

In [ ]:
temps.insert(0,0.0)
print(temps)

[0.0, -40, 0.0, -5, 32.0, 100, 212, 98.6, -40, 72]

In [ ]:
temps2 = [-45, 75, 1000]
print(temps2)

[-45, 75, 1000]

In [ ]:
temps.extend(temps2)
print(temps)

[0.0, -40, 0.0, -5, 32.0, 100, 212, 98.6, -40, 72, -45, 75, 1000]

In [ ]:
del temps (0.0, 72, -45, 75, 1000)

SyntaxError: ignored

In [ ]:
data = ['large', 25, 'green', 62.25]
print(data)

['large', 25, 'green', 62.25]

In [ ]:
print(data[0])

large

In [ ]:
print(data[0][0:3])

lar

In [ ]:
print(sorted(temps))

[-45, -40, -40, -5, 0.0, 0.0, 32.0, 72, 75, 98.6, 100, 212, 1000]

In [ ]:
del temps (0)

NameError: ignored

In [ ]:
temps.sort()
print(temps)

[-45, -40, -40, -5, 0.0, 0.0, 32.0, 72, 75, 98.6, 100, 212, 1000]

In [ ]:
print(temps[3])

-5

In [ ]:
for temp in temps:
  print(temp)

-45
-40
-40
-5
0.0
0.0
32.0
72
75
98.6
100
212
1000

In [ ]:
for x in temps:
  print(x)

-45
-40
-40
-5
0.0
0.0
32.0
72
75
98.6
100
212
1000

In [ ]:
magnitude=[]
for x in [1,2,3,4,5]:
  y=x*10
  magnitude.append(y)
print(magnitude)

[10, 20, 30, 40, 50]

In [ ]:
import math as m
for x in [1,2,3,4,5]:
  sq=x**2
  cb=x**3
  log=m.log(x)
  print(x, sq, cb, log)

1 1 1 0.0
2 4 8 0.6931471805599453
3 9 27 1.0986122886681098
4 16 64 1.3862943611198906
5 25 125 1.6094379124341003

In [ ]:
ls = []
for x in range(10,1000):
  ls.append(x*x)
  
print(ls[43])

2809

### conditionals

In [ ]:
temp=200
if temp<200:
  print('TOO COLD')
elif temp>200:
  print('TOO HOT')
else:
  print('JUST RIGHT')

JUST RIGHT

In [ ]:
print(temps)

[-45, -40, -40, -5, 0.0, 0.0, 32.0, 72, 75, 98.6, 100, 212, 1000]

In [ ]:
for temp in temps:
  if temp<98.6:
    print ('TOO COLD')
  elif temp>98.6:
    print('TOO HOT')
  else:
    print('just right')

TOO COLD
TOO COLD
TOO COLD
TOO COLD
TOO COLD
TOO COLD
TOO COLD
TOO COLD
TOO COLD
just right
TOO HOT
TOO HOT
TOO HOT

In [ ]:
dummy = 1 
while dummy <= 10:
  print(dummy)
  dummy+=1

1
2
3
4
5
6
7
8
9
10

### looping over data sets

In [ ]:
!curl -L -o PracCompPyData.zip http://bit.ly/PracCompPyData
!unzip PracCompPyData.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   137  100   137    0     0   1022      0 --:--:-- --:--:-- --:--:--  1014
100   116    0   116    0     0    261      0 --:--:-- --:--:-- --:--:--   261
100   340  100   340    0     0    483      0 --:--:-- --:--:-- --:--:--   483
100   534    0   534    0     0    615      0 --:--:-- --:--:-- --:--:--   615
100 38179  100 38179    0     0  36569      0  0:00:01  0:00:01 --:--:-- 36569
Archive:  PracCompPyData.zip
  inflating: data/gapminder_all.csv
  inflating: data/gapminder_gdp_africa.csv
  inflating: data/gapminder_gdp_americas.csv
  inflating: data/gapminder_gdp_asia.csv
  inflating: data/gapminder_gdp_europe.csv
  inflating: data/gapminder_gdp_oceania.csv

In [ ]:
import pandas as pd 
for FileName in ['data/gapminder_gdp_americas.csv', 'data/gapminder_gdp_africa.csv']:
  data = pd.read_csv(FileName, index_col='country')
  print(FileName, data.min())

data/gapminder_gdp_americas.csv continent            Americas
gdpPercap_1952    1397.717137
gdpPercap_1957    1544.402995
gdpPercap_1962    1662.137359
gdpPercap_1967    1452.057666
gdpPercap_1972    1654.456946
gdpPercap_1977    1874.298931
gdpPercap_1982    2011.159549
gdpPercap_1987    1823.015995
gdpPercap_1992    1456.309517
gdpPercap_1997    1341.726931
gdpPercap_2002    1270.364932
gdpPercap_2007    1201.637154
dtype: object
data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165876
gdpPercap_2007    277.551859
dtype: float64

In [ ]:
import glob
print('all csv files:', glob.glob('data/gapminder_*.csv'))

all csv files: ['data/gapminder_gdp_europe.csv', 'data/gapminder_gdp_americas.csv', 'data/gapminder_gdp_oceania.csv', 'data/gapminder_gdp_africa.csv', 'data/gapminder_gdp_asia.csv', 'data/gapminder_all.csv']

In [ ]:
for FileName in glob.glob('data/gapminder_gdp*.csv'):
  data = pd.read_csv(FileName)
  print(FileName, 'GDP_1977_minimum', data['gdpPercap_1977'].min())

data/gapminder_gdp_europe.csv GDP_1977_minimum 3528.481305
data/gapminder_gdp_americas.csv GDP_1977_minimum 1874.298931
data/gapminder_gdp_oceania.csv GDP_1977_minimum 16233.7177
data/gapminder_gdp_africa.csv GDP_1977_minimum 502.3197334
data/gapminder_gdp_asia.csv GDP_1977_minimum 371.0

In [ ]:
for FileName in glob.glob('data/gapminder_gdp*.csv'):
  data = pd.read_csv(FileName)
  print(FileName, 'GDP_1977_minimum', data['gdpPercap_2007'].min())

data/gapminder_gdp_europe.csv GDP_1977_minimum 5937.029526
data/gapminder_gdp_americas.csv GDP_1977_minimum 1201.637154
data/gapminder_gdp_oceania.csv GDP_1977_minimum 25185.00911
data/gapminder_gdp_africa.csv GDP_1977_minimum 277.5518587
data/gapminder_gdp_asia.csv GDP_1977_minimum 944.0

## functions

In [ ]:
InitCtemp = 100
Ftemp=(9/5)*float(InitCtemp)+32
print(Ftemp)

212.0

In [ ]:
from prompt_toolkit.shortcuts.utils import print_container
def temp_cov(temp, scale): 
  if scale == 'C':
    #print(str(temp)+ ' C = '+str((9/5)*float(temp)+32)+ ' F ')
    return(str((9/5)*float(temp)))
  elif scale == ' F ':
    #print(str(temp)+ ' F '+str((5/9)*float(temp)-32)+ 'C')
    return(str((5/9)*float(temp)))
  else:
    print('you made a mistake')

In [ ]:
temp_cov(100, 'C')

'180.0'

In [ ]:
new_temps=[]
for x in temps:
  y=float(temp_cov(x, ' F '))
  new_temps.append(y)

In [ ]:
print(new_temps)

[-25.0, -22.22222222222222, -22.22222222222222, -2.7777777777777777, 0.0, 0.0, 17.77777777777778, 40.0, 41.66666666666667, 54.77777777777778, 55.55555555555556, 117.77777777777779, 555.5555555555555]

In [ ]:
str(52)
print

'52'

In [ ]:
x = [1,2,3,4,5]
for y in x:
     print(y)

1
2
3
4
5

In [ ]:
x = 0
while x <= 0:
     print(x)
     x = x+1


print(x)

0
1

In [ ]:
foo = input('What is your input: ')

What is your input: 5

In [ ]:
XXX = [] 
print(XXX)
type(XXX)

[]

list